<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:jee="http://www.springframework.org/schema/jee"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
                      http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd 
                      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
                      http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">

  <context:component-scan base-package="pe.com.quickcont.view, pe.com.quickcont.business, pe.com.quickcont.dao" />

  <context:annotation-config />
  <!-- Datos de la conexion -->
  <jee:jndi-lookup id="dataSource" jndi-name="jdbc/QuickCont" />

  <!-- Mapeo y creacion de sesiones -->
  <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
  <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
    <property name="persistenceUnitName" value="QuickContPU" />
    <property name="dataSource" ref="dataSource" />
    <property name="jpaVendorAdapter">
      <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
        <property name="database" value="POSTGRESQL" />
        <property name="showSql" value="true" />
        <property name="databasePlatform" value="org.hibernate.dialect.PostgreSQLDialect" />
      </bean>
    </property>
  </bean>

  <!-- Archivos de Configuracion -->
  <context:property-placeholder location="classpath:pe/com/quickcont/quickcont.properties" />

  <!-- Manejador de transacciones -->
  <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
    <property name="entityManagerFactory" ref="entityManagerFactory" />
  </bean>
  <tx:annotation-driven transaction-manager="transactionManager" />

  <import resource="applicationContext-aop.xml" />

</beans>